<div class="box p-2">
  <div class="flex align-items-center">
    <div class="flex justify-content-start gap-2">
      <p-button icon="pi pi-chevron-left"
                [style]="{ width: '30px', height: '30px' }"
                [rounded]="true"
                [text]="true"
                styleClass="text-400"></p-button>
      <p-button icon="pi pi-chevron-right"
                [style]="{ width: '30px', height: '30px' }"
                [rounded]="true"
                [text]="true"
                styleClass="text-400"></p-button>
    </div>
    <div class="ml-auto flex gap-2">
      <p-button label="註冊"
                [rounded]="true"
                [text]="true"
                styleClass="text-400"></p-button>
      <p-button label="登入"
                [rounded]="true"
                styleClass="bg-white"></p-button>
    </div>
  </div>
</div>
