.header-box {
  background: #1A1A1A;
  color: rgba(255, 255, 255, 0.87);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.avatar-wrapper {
  background: #000;
  border-radius: 50%;
  padding: 5px;

  &:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
  }
}


.styled-box {
  border-radius: 3px;
  .p-ink {
    background: rgba(#3d5a80, 0.2);
  }
  &:hover {
    background: rgba(#3d5a80, 0.2);
    cursor: pointer;
  }
}
