::ng-deep {
  .p-splitter {
    border: none;
    background: #ffffff;
    border-radius: 6px;
    color: #4b5563;
  }

  //.p-splitter-horizontal>.p-splitter-gutter>.p-splitter-gutter-handle {
  //  height: 0px;
  //  width: 100%;
  //}
  //
  //.p-splitter .p-splitter-gutter {
  //  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  //  background: transparent;
  //}
}
