<div style="height: 100%">
  <div class="flex justify-content-between align-items-center">
    <span class="text-2xl font-medium">下一步要學習什麼？</span>
    <p-button label="顯示所有內容"
              [link]="true"
              styleClass="text-400 text-xs"></p-button>
  </div>
  <div class="col-12">
    <div class="grid">
      <div class="col-3" *ngFor="let course of course">
        <div class="play-box p-4" (click)="goToCourse(course)">
          <div class="flex flex-column gap-2">
            <p-image [src]="course.imageUrl"
                     imageClass="border-round w-full"></p-image>
<!--            <div class="play-button">-->
<!--              <p-button [icon]="course.audioElement.paused ? 'text-xs pi pi-caret-right' : 'text-xs pi pi pi-pause'"-->
<!--                        (click)="playPauseAudio(course.audioElement)"-->
<!--                        [rounded]="true"-->
<!--                        severity="secondary"-->
<!--                        styleClass="border-none"-->
<!--                        [style]="{width: '2rem', height: '2rem', 'background-color': 'rgba(255,255,255,0.5)'}"></p-button>-->
<!--            </div>-->
            <div class="flex flex-column align-items-start gap-2">
              <span class="text-sm font-bold">{{ course.course_name }}</span>
              <span class="text-xs text-400">{{ course.created_by }}</span>
              <div class="flex gap-2 align-items-center">
                <span class="text-xs font-bold">{{ course.rating }}</span>
                <div class="flex gap-1">
                  <i class="{{ getStarClass(course.rating, 1) }}"></i>
                  <i class="{{ getStarClass(course.rating, 2) }}"></i>
                  <i class="{{ getStarClass(course.rating, 3) }}"></i>
                  <i class="{{ getStarClass(course.rating, 4) }}"></i>
                  <i class="{{ getStarClass(course.rating, 5) }}"></i>
                </div>
                <span class="text-xs text-400">({{ course.total_reviews }})</span>
              </div>
              <span class="text-sm font-bold">${{ course.price }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog styleClass="border-round border-none fadein animation-duration-300"
          [contentStyle]="{'background': 'linear-gradient(to bottom, ' + domainColor + ', rgb(20, 20, 20))'}"
          [showHeader]="false"
          [(visible)]="loginDialog"
          [modal]="true"
          [style]="{ width: '60vw', position: 'relative'}"
          [draggable]="false"
          [resizable]="false">
  <div class="flex justify-content-center align-items-center">
    <div class="col-6">
      <p-image [src]="domainImg"
               imageClass="border-round w-full"></p-image>
    </div>
    <div class="col-6">
      <div class="flex flex-column align-items-center gap-5">
        <h1 class="text-center">使用免費 MSC Tech 帳戶開始學習</h1>
        <p-button label="免費註冊"
                  (click)="openRegisterInNewTab()"
                  styleClass="bg-white"
                  [rounded]="true"></p-button>
        <span class="text-sm text-400 text-center">已經有帳戶了嗎？
          <span class="text-sm a-white-text" routerLink="/login">登入</span>
        </span>
      </div>
    </div>
  </div>
  <span style="position: absolute; bottom: -50px; left: calc(50% - 16px)"
        class="a-dark-icon" (click)="loginDialog = false">關閉</span>
</p-dialog>
