.content-box {
  background: linear-gradient(to bottom, rgba(82, 82, 82, 0.4), #1A1A1A);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.play-box {
  background: rgba(20, 20, 20, 0.5);
  color: rgba(255, 255, 255, 0.87);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  position: relative;
  transition: background 0.3s ease;

  &:hover {
    background: rgba(100, 100, 100, 0.3);
    cursor: pointer;
  }
}

.play-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: none;
}

.play-box:hover .play-button {
  display: block;
  animation: fadein 0.4s linear;
}

::ng-deep {
  //.p-dialog .p-dialog-content {
  //  background: transparent;
  //  padding: 4rem;
  //}
  //
  //.p-dialog .p-dialog-content:last-of-type {
  //  border-radius: 6px;
  //}
}
