<div class="box box-color pt-2 pb-2 pl-3 pr-3">
  <div class="flex justify-content-between align-items-center">
    <span class="text-2xl font-medium">播放清單</span>
    <p-button label="顯示所有內容"
              [link]="true"
              styleClass="text-400 text-xs"></p-button>
  </div>
  <div class="col-12">
    <div class="grid">
      <div class="col-3">
        <div class="play-box p-2">
          <div class="flex flex-column align-items-center gap-2">
            <p-image src="https://i.scdn.co/image/ab67706f0000000254473de875fea0fd19d39037"
                     width="175"
                     imageClass="border-round"></p-image>
            <div class="play-button">
              <p-button icon="pi pi-caret-right"
                        [rounded]="true"
                        size="small"
                        severity="success"></p-button>
            </div>
            <div class="flex flex-column align-items-start gap-2">
              <span class="text-sm font-bold">lofi beats</span>
              <span class="text-xs line-height-3">chill beats, lofi vibes, new tracks every week...</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="play-box p-2">
          <div class="flex flex-column align-items-center gap-2">
            <p-image src="https://i.scdn.co/image/ab67706f0000000277c91d9f09e4deb8a2ede4cb"
                     width="175"
                     imageClass="border-round"></p-image>
            <div class="play-button">
              <p-button icon="pi pi-caret-right"
                        [rounded]="true"
                        size="small"
                        severity="success"></p-button>
            </div>
            <div class="flex flex-column align-items-start gap-2">
              <span class="text-sm font-bold">Christmas Hits</span>
              <span class="text-xs line-height-3">The biggest Christmas songs of all time.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
