<p-toast></p-toast>
<div #scrollMe class="col-12 overflow-y-auto md:col-12 lg:col-12"
     style="height: calc(100% - 100px); position: relative">
  <!-- 隱性塊狀對話欄 -->
  <div class="flex justify-content-center align-items-center gap-3 font-bold text-2xl">
    <i class="fa-solid fa-robot"></i>
    <span>GPT 課程小幫手</span>
  </div>
  <div class="grid mt-4">
    <div *ngFor="let item of quest" class="col-4"
         (click)="myForm.controls['searchInput'].setValue(item.questions); onSearchInput()">
      <div class="flex flex-column gap-2 h-full p-3 quest-box">
        <span class="font-bold">{{ item.category }}</span>
        <span class="text-sm">{{ item.questions }}</span>
      </div>
    </div>
  </div>
  <div class="flex flex-column gap-3 p-1">
    <div *ngFor="let message of messages" class="flex flex-column gap-3">
      @if (message.sender !== 'bot') {
        <div class="flex justify-content-end">
          <div class="user-says-box">
            {{ message.message }}
          </div>
        </div>
      } @else {
        <div class="flex justify-content-start">
          <div class="bot-says-box" [innerHTML]="message.message"></div>
        </div>
        <div *ngIf="!isTyping" class="flex justify-content-start">
          <div class="flex text-300 gap-3 pl-2">
            <i class="icon-hover"
               [class]="thumbsUpStatus[message.id] ? 'fa-solid fa-thumbs-up' : 'fa-regular fa-thumbs-up'"
               (click)="toggleThumbsUp(message.id)"></i>
            <i class="icon-hover"
               [class]="thumbsDownStatus[message.id] ? 'fa-solid fa-thumbs-down' : 'fa-regular fa-thumbs-down'"
               (click)="toggleThumbsDown(message.id)"></i>
            <i class="icon-hover fa-regular fa-copy" (click)="copy(message.message)"></i>
            <i class="icon-hover fa-solid fa-rotate-left"></i>
          </div>
        </div>
        <div *ngIf="!isTyping" class="flex justify-content-start gap-2">
          <div *ngFor="let item of tips" class="p-2 text-sm tips-box border-1"
               (click)="myForm.controls['searchInput'].setValue(item.quest); onSearchInput()">
            {{ item.quest }}
          </div>
        </div>
      }
      @if (message.showVideo) {
        <div class="flex justify-content-start">
          <div class="bot-says-box">
            startvideo
          </div>
        </div>
      }
    </div>
    <div *ngIf="isTyping" class="flex justify-content-center">
      <p-button label="停止回應"
                icon="text-xs pi pi-stop"
                [outlined]="true"
                styleClass="text-xs"></p-button>
    </div>
  </div>
</div>
<div class="col-12 md:col-12 lg:col-12 xl:col-12" style="height: 100px;">
  <form [formGroup]="myForm">
    <div class="flex align-items-start gap-2 p-2 border-1 border-round surface-border">
      <p-button icon="text-sm fa-solid fa-plus"
                pTooltip="開新聊天" tooltipPosition="top" (click)="messages = []"
                styleClass="w-2rem h-2rem"></p-button>
      <textarea class="w-full border-none no-focus" type="text" style="resize: none; background: transparent;"
                pInputTextarea formControlName="searchInput"
                (keydown.enter)="onEnter($event)"
                placeholder="Search"></textarea>
      <div class="flex flex-column gap-2">
        <p-button icon="text-sm fa-solid fa-microphone-lines"
                  styleClass="w-2rem h-2rem"></p-button>
        <p-button icon="text-sm fa-regular fa-paper-plane"
                  styleClass="w-2rem h-2rem"
                  [disabled]="myForm.controls['searchInput'].value === ''"
                  (click)="onSearchInput()"></p-button>
      </div>
    </div>
  </form>
</div>
