<div class="grid h-screen">
  <div class="col-3" style="height: calc(100vh - 76px)">
    <app-menu></app-menu>
  </div>
  <div class="col-9" style="height: calc(100vh - 76px)">
    <div style="height: 60px">
      <app-header></app-header>
    </div>
    <div class="content-box p-3" style="height: calc(100% - 60px); position: relative">
      <router-outlet></router-outlet>
      <p-button icon="fa-regular fa-comments"
                [rounded]="true"
                (click)="showChatDialog()"
                [style]="{position: 'absolute', right: '1rem', bottom: '1rem'}"></p-button>
      <p-dialog [(visible)]="chatVisible" position="bottomright"
                [style]="{position: 'absolute', right: '1rem', bottom: '6rem', width: '30vw', height: '70vh'}">
        <app-ai-assistant></app-ai-assistant>
      </p-dialog>
    </div>
  </div>
  <div class="col-12" style="height: 76px">
    <app-footer></app-footer>
  </div>
</div>
