.menu-box {
  flex: 0 0 auto;
  padding: 2px;
  width: 30%;
}

.content {
  flex: 0 0 auto;
  padding: 2px;
  width: 70%;
}

.header-box {
  flex: 0 0 auto;
  padding: 2px;
  width: 100%;
}

.content-box {
  flex: 0 0 auto;
  padding: 2px;
  width: 100%;
}
