.music-content {
  background: rgba(112, 112, 112, 0.1);
  color: rgba(255, 255, 255, 0.87);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 0.75rem 1.25rem;
}

.footer-content {
  background: transparent;
  color: rgba(255, 255, 255, 0.87);
  padding: 0.75rem 1.25rem;
}

::ng-deep {
  .cookie-light {
    font-weight: 300;
  }
}

.full-height {
  height: calc(100vh - 24px);
  max-width:100%
}
