<div #parent class="flex flex-column gap-2" style="height: 100%">
  <div #firstBox class="box p-2">
      <div class="flex flex-column gap-2">
      <p-button label="MSC Tech" routerLink="/"
                [text]="true" icon="pi pi-compass text-xl"
                styleClass="text-left text-white"
                [style]="{ width: '100%' }"></p-button>
      <p-button label="首頁" routerLink="/"
                [text]="true" icon="pi pi-home mr-3"
                styleClass="text-left text-white"
                [style]="{ width: '100%' }"></p-button>
      <p-button label="AI小幫手"
                [text]="true" icon="pi pi-search mr-3"
                styleClass="text-left text-white"
                [style]="{ width: '100%' }"></p-button>
                <!-- 影像 -->
      <p-button label="VOD 影像播放" routerLink="/video"
                [text]="true" icon="pi pi-video mr-3"
                styleClass="text-left text-white"
                [style]="{ width: '100%' }"></p-button>
    </div>
  </div>
  <div class="box p-2">
    <div class="flex flex-column justify-content-between gap-3" style="position: relative; height: 100%">
      <div class="flex">
        <div class="flex justify-content-start">
          <p-button label="你的課程庫"
                    [text]="true" icon="pi pi-inbox mr-3"
                    styleClass="text-left text-white"></p-button>
        </div>
        <div class="ml-auto">
          <p-button icon="pi pi-plus"
                    [rounded]="true"
                    [text]="true"
                    styleClass="text-white"></p-button>
          <!--              登入時才有-->
          <!--              <p-button icon="pi pi-arrow-right" [rounded]="true" [text]="true"></p-button>-->
        </div>
      </div>
      <div class="flex flex-column gap-4 overflow-y-auto">
        <div class="music-content flex flex-column gap-3" style="position: relative">
          <span class="font-medium">建立你的第一個課程清單</span>
          <span class="text-sm">這很簡單，我們會幫你</span>
          <p-button label="建立課程清單"
                    size="small"
                    (click)="showLoginTip = true"
                    [rounded]="true"
                    [style]="{ height: '35px' }"
                    styleClass="mt-2 text-sm bg-white"></p-button>
        </div>
        <div class="music-content flex flex-column gap-3">
          <span class="font-medium">從現在開始盡情學習</span>
          <span class="text-sm">我們有超過213,000個課程</span>
          <p-button label="瀏覽課程"
                    size="small"
                    [rounded]="true"
                    [style]="{ height: '35px' }"
                    styleClass="mt-2 text-sm bg-white"></p-button>
        </div>
      </div>
      <div class="flex flex-column footer-content gap-2">
        <p-button label="Cookie"
                  size="small"
                  [text]="true"
                  styleClass="text-left text-sm text-400 font-light"></p-button>
        <p-button label="中文"
                  icon="pi pi-globe text-sm"
                  size="small"
                  [rounded]="true"
                  [outlined]="true"
                  [style]="{ height: '35px' }"
                  styleClass="mt-2 text-sm text-white border-white"></p-button>
      </div>
      <!--          登入時才有-->
      <!--          <div class="flex gap-3 mt-2">-->
      <!--            <p-button label="播放清單"-->
      <!--                      [rounded]="true" [style]="{ height: '80%' }"-->
      <!--                      size="small"-->
      <!--                      styleClass="text-xs"></p-button>-->
      <!--            <p-button label="藝人"-->
      <!--                      [rounded]="true"-->
      <!--                      size="small" [style]="{ height: '80%' }"-->
      <!--                      styleClass="text-xs"></p-button>-->
      <!--            <p-button label="專輯"-->
      <!--                      [rounded]="true"-->
      <!--                      size="small" [style]="{ height: '80%' }"-->
      <!--                      styleClass="text-xs"></p-button>-->
      <!--          </div>-->
      <!--      登入提示-->
      <p-card *ngIf="showLoginTip" styleClass="bg-blue-600 text-white p-1 z-1000"
              [style]="{position: 'absolute', right: '-300px', top: '0'}">
        <div class="flex flex-column gap-3">
          <span class="font-bold text-lg">建立您的課程清單</span>
          <span class="text-sm">登入後即可在此建立您的課程清單。</span>
          <div class="flex justify-content-end align-items-center gap-4">
            <span class="text-sm a-dark-text" (click)="showLoginTip = false">現在不要</span>
            <p-button label="登入"
                      routerLink="/login"
                      size="small"
                      [rounded]="true"
                      styleClass="text-sm bg-white"></p-button>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
