<div class="flex align-items-center">
  <div class="flex align-items-center gap-2 p-2" style="height: 100%">
    <p-button (click)="sidebarVisible = true"
              [text]="true"
              icon="text-xs pi pi-bars"></p-button>
    <p-image src="assets/logo.png" [imageStyle]="{ width: '2rem' }"></p-image>
    <span class="text-xl text-white font-bold">SOHI Cloud</span>
  </div>
  <div class="ml-auto mr-4">
    <p-avatar class="avatar-wrapper"
              label="管"
              shape="circle"></p-avatar>
  </div>
</div>

<p-sidebar #sidebarRef [(visible)]="sidebarVisible">
  <ng-template pTemplate="headless">
    <div class="flex flex-column h-full">
      <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
        <div class="flex align-items-center gap-3">
          <p-image src="assets/logo.png" [imageStyle]="{ width: '2rem' }"></p-image>
          <span class="text-xl text-white font-bold">SOHI Cloud</span>
        </div>
        <p-button (click)="closeCallback($event)" icon="pi pi-times" [rounded]="true" [text]="true"></p-button>
      </div>
      <div class="overflow-y-auto">
        <div class="flex flex-column gap-2 p-3">
          <p-button styleClass="text-white w-full" [text]="true"
                    (click)="closeCallback($event)" routerLink="/admin/member">
            <div class="flex align-items-center gap-3">
              <i class="fa-solid fa-users"></i>
              <span class="font-bold">會員管理</span>
            </div>
          </p-button>
          <p-button styleClass="text-white w-full" [text]="true"
                    (click)="closeCallback($event)" routerLink="/admin/vod-mgmt">
            <div class="flex align-items-center gap-3">
              <i class="fa-solid fa-video"></i>
              <span class="font-bold">VOD 管理</span>
            </div>
          </p-button>
          <p-button styleClass="text-white w-full" [text]="true"
                    (click)="closeCallback($event)" routerLink="/admin/statistics">
            <div class="flex align-items-center gap-3">
              <i class="fa-solid fa-chart-column"></i>
              <span class="font-bold">統計資料</span>
            </div>
          </p-button>
          <p-button styleClass="text-white w-full" [text]="true"
                    (click)="closeCallback($event)" routerLink="/admin/accounting">
            <div class="flex align-items-center gap-3">
              <i class="fa-solid fa-sack-dollar"></i>
              <span class="font-bold">帳務管理</span>
            </div>
          </p-button>
        </div>
      </div>
    </div>
  </ng-template>
</p-sidebar>
