<div class="flex justify-content-center">
  <div class="col-8">
    <div class="flex flex-column justify-content-center gap-5">
      <h1>登入您的 SOHI Cloud</h1>
      <div class="flex justify-content-center">
        <div class="col-6">
          <div class="field">
            <label class="text-lg font-medium">測試</label>
          </div>
          <div class="grid">
            <div class="col-4">
              <div class="flex flex-column gap-3 justify-content-center">
                <p-avatar [style]="{height: '100px'}"
                          (click)="adminLogin()"
                          label="管" styleClass="cursor-pointer w-full" size="xlarge"></p-avatar>
                <span class="font-bold text-center">管理者</span>
              </div>
            </div>
            <div class="col-4">
              <div class="flex flex-column gap-3 justify-content-center">
                <p-avatar [style]="{height: '100px'}"
                          (click)="studentLogin()"
                          label="學" styleClass="cursor-pointer w-full" size="xlarge"></p-avatar>
                <span class="font-bold text-center">學員</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="field">
            <label class="text-sm font-medium">電子信箱或使用者名稱</label>
            <br>
            <input class="w-full" type="text" placeholder="電子信箱或使用者名稱" pInputText/>
          </div>
          <div class="field">
            <label class="text-sm font-medium">密碼</label>
            <br>
            <p-password styleClass="w-full" inputStyleClass="w-full"
                        placeholder="密碼"
                        [feedback]="false" [toggleMask]="true"></p-password>
          </div>
          <div class="flex flex-column gap-4 mt-4">
            <p-button label="登入"
                      (click)="login()"
                      [rounded]="true"
                      styleClass="w-full bg-white text-sm"></p-button>
            <div class="flex gap-6 justify-content-center">
              <i class="a-dark-icon fa-brands fa-google"></i>
              <i class="a-dark-icon fa-brands fa-facebook"></i>
              <i class="a-dark-icon fa-brands fa-apple"></i>
            </div>
            <span class="w-full a-dark-text text-center text-sm">忘記密碼？</span>
          </div>
        </div>
      </div>
      <p-divider></p-divider>
      <span class="text-sm text-400 text-center">還沒有帳戶嗎？
          <span class="text-sm a-white-text" routerLink="/register">請按這裡註冊。</span></span>
    </div>
  </div>
</div>
