/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  margin: 0;
}

.box {
  background: #1A1A1A;
  color: rgba(255, 255, 255, 0.87);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;
}

.content-box {
  background: linear-gradient(to bottom, rgba(82, 82, 82, 0.4), #1A1A1A);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.a-white-text {
  color: #ffffff;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    text-decoration: underline; /* 當滑鼠懸停時，添加下劃線 */
  }
}

.a-dark-text {
  color: var(--surface-400);
  font-weight: bold;

  &:hover {
    color: var(--surface-500);
    cursor: pointer;
    text-decoration: underline; /* 當滑鼠懸停時，添加下劃線 */
  }
}

.a-dark-icon {
  color: var(--surface-400);
  font-weight: bold;

  &:hover {
    color: var(--surface-500);
    cursor: pointer;
  }
}
