::ng-deep {

  .p-progressbar {
    border: 0 none;
    height: 0.5rem;
    background: #424b57;
    border-radius: 6px;
  }

  .p-checkbox-label {
    line-height: 1.5;
    font-size: .875rem;
  }

}

.check-box {
  padding: 1rem;
  background: #242424;
  border-radius: 6px;
}

.login-text {
  color: #ffffff;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    text-decoration: underline; /* 當滑鼠懸停時，添加下劃線 */
  }
}

.p-step {
  color: var(--surface-400);
  font-weight: bold;

  &:hover {
    cursor: pointer;
    color: #ffffff;
  }
}
